{%  extends "base.html" %}
{% block style %}
<style>
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .container {
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: stretch;
        margin-left: 21rem;
        margin-right: 0rem;
    }
    .flex-child {
        position: relative;
        flex: 1;
    }
    #question-head-img {
        width: 46rem;
        height: auto;
    }
    .question-head-container {

    }
    .login-form-container {
        width: 20rem;
        margin: auto;
    }
    .registration-form-container {
        width: 400px;
        margin: auto;
    }
    .outer-area {
        margin-right: -12rem;
        padding-left: 20rem;
    }
    .auth-box {
        border: 3px solid lightgrey;
        border-radius: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 600px;
    }
</style>
{%  endblock %}

{% block content %}
<div class="outer-area">
    <div class="auth-box text-center">
        {% block auth %}
        {% endblock %}
    </div>
</div>
{% endblock %}