{%  extends "base.html" %}
{% block style %}
<style>
.auth-box {
  border: 3px solid lightgrey;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 600px;
  background-color: #ffffff;
  margin: auto;
}

.border-box {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 10px;
}

#border-box-1 {
  background-color: #7b7b78;
  width: 39.25rem;
  padding-left: 0.25rem;
}

#border-box-2 {
  background-color: #f9d528;
  width: 38.75rem;
  padding-left: 0.25rem;
}

#border-box-3 {
  background-color: #7b7b78; /*#5aebfa;*/
  width: 38.25rem;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: 19rem;
  margin-right: 0rem;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-child {
  position: relative;
  flex: 1;
}

.login-form-container {
  width: 20rem;
  margin: auto;
}

.outer-area {
  margin-right: -15rem;
  padding-left: 19.05rem;
}

#question-head-img {
  width: 46rem;
  height: auto;
}

.registration-form-container {
  width: 400px;
  margin: auto;
}
</style>
{%  endblock %}

{% block content %}
<div class="container">
  <div class="flex-child question-head-container">
    {% load static %}
    <img id="question-head-img"
         src="{% static 'static/natalie-dmay-unsplash-min.jpg' %}"
         alt="building side mural of grey face against yellow and black background with a horizontal blue double helix in the center of the face">
  </div>

  <div class="flex-child">
    <div class="outer-area">
      <div class="border-box" id="border-box-1">
        <div class="border-box" id="border-box-2">
          <div class="border-box" id="border-box-3">
              <div class="auth-box text-center">
                  {% block auth %}
                  {% endblock %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}