{%  extends "base.html" %}
{% block style %}
<style>
.auth-box {
  border: 3px solid lightgrey;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 600px;
  background-color: #ffffff;
  margin: auto;
}
#border-box-1 {
  background-color: #f9d528;
  border-radius: 10px;
  width: 690px;
  height: 585px;
  margin: auto;
}
#border-box-2 {
  background-color: #5aebfa;
  border-radius: 10px;
  width: 660px;
  height: 525px;
  margin: auto;
}
#border-box-3 {
  background-color: #f9d528;
  border-radius: 10px;
  width: 630px;
  height: 465px;
  margin: auto;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: 21rem;
  margin-right: 0rem;
}
div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-child {
  position: relative;
  flex: 1;
}
.login-form-container {
  width: 20rem;
  margin: auto;
}
.outer-area {
  margin-right: -12rem;
  padding-left: 15rem;
}
#question-head-img {
  width: 46rem;
  height: auto;
}
.registration-form-container {
  width: 400px;
  margin: auto;
}
</style>
{%  endblock %}

{% block content %}
<div class="container">
  <div class="flex-child question-head-container">
    {% load static %}
    <img id="question-head-img" src="{% static 'static/natalie-dmay-unsplash.jpg' %}" alt="building side mural of grey face against yellow and black background with a horizontal blue double helix in the center of the face">
  </div>

  <div class="flex-child">
    <div class="outer-area">
      <div id="border-box-1">
        <div id="border-box-2">
          <div id="border-box-3">
              <div class="auth-box text-center">
                  {% block auth %}
                  {% endblock %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}